.linkContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  margin: 10px;
  font-size: small;
  font-family: "Roboto", sans-serif;
}
.letterContainer {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  font-size: 32pt;
}
.searchBoxContainer{
  justify-content: center;
  margin-top: -3%;
  display: flex;
}
.textField{
  width: 600px;
}

.letterD{
  color:#4885ed;
}
.letterO{
  color:#db3236;
}
.letterH{
  color:#f4c20d;
}
.letterY{
  color:#4885ed;
}
.letterU{
  color:#3cba54;
}
.letterN{
  color:#db3236;
}