.linkContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  margin: 10px;
  font-size: small;
  font-family: "Roboto", sans-serif;
}
.letterContainer {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  font-size: 32pt;
}
.searchBoxContainer{
  display: flex;
  margin-top:-3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.textFieldOpen fieldset {
  border-top-right-radius: 30pt;
  border-top-left-radius: 30pt;
  border-color: #696969;
}
.textFieldClose fieldset{
  border-radius: 30pt;
  border-color: #696969;
}

.searchBoxButton {
  margin: 3%;
  display: flex;
  justify-content: center;
}


.horizontal-line{
  border: 0.5px solid #c1c1c1;
  width: 100%;
  text-align: center;
}

.bottom-text{
  font-family: "Roboto", sans-serif;
  color: #424242;
  margin-left: 3%;
}
.bottom-link{
  font-family: "Roboto", sans-serif;
  color: #424242;
}
.letterD{
  color:#4885ed;
}
.letterO{
  color:#db3236;
}
.letterH{
  color:#f4c20d;
}
.letterY{
  color:#4885ed;
}
.letterU{
  color:#3cba54;
}
.letterN{
  color:#db3236;
}